<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title layout:title-pattern="$CONTENT_TITLE : $LAYOUT_TITLE">관리자</title>
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <link rel="stylesheet" th:href="@{/css/admin/admin-layout.css}">
  <link rel="stylesheet" th:href="@{/css/admin/admin-components.css}">
  <link rel="icon" th:href="@{/img/favicon.ico}">
</head>
<body>
<header th:replace="~{fragments/admin/header :: header}"></header>
<div class="sidebar-overlay" id="sidebarOverlay"></div>
<!-- Layout -->
<div class="layout">
  <!-- Sidebar -->
  <aside class="sidebar" th:replace="~{fragments/admin/navigation :: navigation}"></aside>
  <!-- Main Content -->
  <main class="main-content" layout:fragment="content"></main>
</div>
<!-- Common JavaScript-->
<script th:src="@{/js/common.js}" type="module"></script>
<!-- Custom JS -->
<th:block layout:fragment="scripts"></th:block>
</body>
</html>