<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">Dev Blog</title>
  <!-- Common CSS -->
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <link rel="stylesheet" th:href="@{/css/blog/blog-layout.css}">
  <link rel="stylesheet" th:href="@{/css/blog/blog-components.css}">
  <link rel="icon" th:href="@{/img/favicon.ico}">
</head>
<body>
<!-- Header -->
<header th:replace="~{fragments/blog/header :: header}"></header>
<!-- Main Content-->
<div class="blog-container" layout:fragment="content"></div>
<!-- Footer -->
<footer th:replace="~{fragments/blog/footer :: footer}"></footer>
<!-- Common JavaScript-->
<script th:src="@{/js/common.js}" type="module"></script>
<!-- Custom JS -->
<th:block layout:fragment="scripts"></th:block>
</body>
</html>