DB_URL=
DB_USER=
DB_PASSWORD=

JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_EXPIRATION=
JWT_REFRESH_TOKEN_EXPIRATION=
JWT_COOKIE_NAME=
JWT_REFRESH_COOKIE_NAME=

MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

REDIS_HOST=
REDIS_PORT=
REDIS_USER=
REDIS_PASSWORD=
