<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<footer class="blog-footer" th:fragment="footer">
  <div class="footer-content">
    <div class="footer-links">
      <a class="footer-link" href="#">GitHub</a>
      <a class="footer-link" href="#">LinkedIn</a>
      <!--<a href="#" class="footer-link">Email</a>-->
    </div>
    <p class="footer-text">© Dev Blog. All rights reserved.</p>
    <p class="footer-text">Built with Spring Boot & Thymeleaf</p>
  </div>
</footer>
</body>
</html>